DB_HOST=petadex.ccz9y6yshbls.us-east-1.rds.amazonaws.com
DB_PORT=5432
DB_NAME=petadex
DB_USER=readonly_user
DB_PASS=petadex

# AWS Credentials (Add these!)
# AWS_ACCESS_KEY_ID=AKIAxxxxxxxxxxxxxxxxx
# AWS_SECRET_ACCESS_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
# AWS_REGION=us-east-1  # (Change to your actual region if different)

# change this if you run the backend on a different port than your Gatsby site
PORT=3001

